.ais-Hits-list {
	display: grid;
	gap: 1rem;
}

.ais-Hits-item {
	padding: 0;
}

.ais-SearchBox-submit {
	display: block;
	padding: 0 1rem;
	border: 1px solid #d6d6e7;
	border-radius: 3px;
	box-shadow: rgb(119 122 175 / 30%) 0 1px 4px 0 inset;
}

.ais-SearchBox-reset {
	right: 3rem;
}

@media (min-width: 640px) {
	.ais-Hits-list {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
}

@media (min-width: 768px) {
	.ais-Hits-list {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}
}
